// Import all partials
@require './_*.styl'

.login
  display flex
  flex-direction column
  background primary
  color white
  min-height 100 vh

.login h1
  background primaryD
  color white

.login .buttons
  align-self center
  display flex
  flex-direction column
  max-width 200px
  margin-top 2rem

.login .buttons > button
  margin-bottom 1rem

.small-button
  border 0
  border-radius 9999px

.primaryD
  background primaryD
  color white 

.meeting-list
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-gap 1rem
